@media (max-width:850px){
    .menu-btn{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 1.5rem;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: rgb(116, 91, 82) ;
        letter-spacing: 3px;
        margin-top: -900px;
        transition: all 0.5s ease;
        border-bottom-right-radius: 30%;
    }
    .mobile-menu{
        margin-top: 0px;
    }
   .nav-links li{
       margin: 30px auto;

   }
   .row{
       flex-direction: column;
   }
   .col img{
       max-width: 90%;
   }
   .row .col{
       margin: 20px auto;
   }
   .explore-content{
       width: 100%;
   }
   .tours .col{
       width: 100%;
   }
   .image-gallery{
       justify-content: center;
       align-items: center;
   }
   .image-gallery img{
       width: 90%;
   }
   .footer{
       padding: 10px;
   }
}